<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center" font-size="32px"> Orders </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Status
                            </th>
                        </thead>
                        <tbody *ngFor="let order of orders">
                            <tr>
                                <td>
                                    {{order.id}}
                                </td>
                                <td>
                                    {{order.dateCreated}}
                                </td>
                                <td>
                                    {{order.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>